@page
@model CreateModel
 
@{
    ViewData["Title"] = "Добавление новой картины";
}
<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div><label>Имя</label><br /><input asp-for="Painting.Name" /></div>
    <div><label>Стоимость</label><br /><input asp-for="Painting.Value" type="number" /></div>
    <div><label>Год</label><br /><input asp-for="Painting.DateOfCreation" type="DateTime" /></div>
    <div><label>Автор</label><br /><input asp-for="Painting.Author" /></div>
    <div><label>Жанр</label><br /><input asp-for="Painting.Genre" /></div>
    <div><label>Местонахождение</label><br /><input asp-for="Painting.Location" /></div>
    <input type="submit" value="Отправить" />
</form>